<html>
    <head>
        <title><%= title %></title>

        <link rel="stylesheet" href="/public/style.css">
        
    </head>
    
    <body>

    <nav class="nav">
        <a class="title" href="#">Test Page</a>
    </nav>